.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  margin-bottom: clamp(-64px, -64px, -56px);
  font-family: Arial, sans-serif;

  a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: calc(100% / 2);

    &.active {
      border-radius: 25px;
      background: #900000;
    }

    &:hover {
      background: red;
      @extend .active;
    }
  }
}
